<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(../../../../../assets/images/bg-01.jpg);">
        <span class="login100-form-title-1">
          CREAR NUEVA CUENTA
        </span>
      </div>

      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="login100-form validate-form">

        <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger"> <small>*El correo es
            obligatorio</small></span>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">

          <span class="label-input100">Email</span>
          <input class="input100" type="email" [(ngModel)]="usuario.email" name="email" placeholder="Email" required
            email>
          <span class="focus-input100"></span>

        </div>

        <span *ngIf="f.submitted && f.controls['nombre'].errors" class="text-danger animated fadeIn">
          <small> *El nombre es obligatorio</small></span>
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Usuario</span>
          <input class="input100" type="text" [(ngModel)]="usuario.nombre" name="nombre" placeholder="Usuario" required
            minlength="2">
          <span class="focus-input100"></span>
        </div>




        <span *ngIf="f.submitted && f.controls['pass'].errors" class="text-danger">
          <small> *La contraseña debe de ser más de 6 letras</small></span>
        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100">Contraseña</span>
          <input class="input100" type="password" [(ngModel)]="usuario.password" name="pass" placeholder="Contraseña"
            required minlength="6">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" [(ngModel)]="recordarme">
            <label class="label-checkbox100" for="ckb1">
              Recordar mi usuario
            </label>
          </div>

          <div>
            <a [routerLink]="['/login']" class="txt1">
              ¿Ya tienes cuenta? / Ingresar
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>