<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/logo.png" width="50" height="40" alt="">

    Art<strong> n a t u r a l s</strong> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">
          <h6>Home</h6> <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/aceites']">
          <h6>Aceites naturales</h6>
        </a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">

      <button class="btn btn-primary custom2-btn my-2 my-sm-0" type="button" (click)=salir()>Cerrar sesión</button>
    </form>

  </div>
</nav>